In [2]:
import pandas as pd
! pip3 install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
df = pd.read_csv("/Users/vickykumar/BytesOfDataScience/Module 31 Pandas/annual-enterprise-survey-2023-financial-year-provisional.csv")

In [4]:
# first five records
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

In [5]:
df.head(3)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
df.head(7)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
5,2023,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,55267,ANZSIC06 divisions A-S (excluding classes K633...
6,2023,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,7426,ANZSIC06 divisions A-S (excluding classes K633...

In [7]:
# last five records
df.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [8]:
# last 10 records
df.tail(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
50975,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50976,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50977,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50978,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50979,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
# all columns name
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [11]:
columnNameList = list[df.columns]
columnNameList

list[Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')]

In [12]:
df['Year']

0        2023
1        2023
2        2023
3        2023
4        2023
         ...
50980    2013
50981    2013
50982    2013
50983    2013
50984    2013
Name: Year, Length: 50985, dtype: int64

In [13]:
df['Units']

0        Dollars (millions)
1        Dollars (millions)
2        Dollars (millions)
3        Dollars (millions)
4        Dollars (millions)
                ...
50980            Percentage
50981            Percentage
50982            Percentage
50983            Percentage
50984            Percentage
Name: Units, Length: 50985, dtype: object

In [14]:
type(df['Year'])

pandas.core.series.Series

In [15]:
YearList = list(df['Year'])
YearList

[2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 2023,
 ...]

In [16]:
df[['Year']]

       Year
0      2023
1      2023
2      2023
3      2023
4      2023
...     ...
50980  2013
50981  2013
50982  2013
50983  2013
50984  2013

[50985 rows x 1 columns]

In [17]:
type(df[['Year']])

pandas.core.frame.DataFrame

In [18]:
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [20]:
columnNameList = df.columns
columnNameList

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [29]:
print(f"{len(df.columns)} | {type(df.columns)}")

10 | <class 'pandas.core.indexes.base.Index'>

In [32]:
for column in columnNameList:
    print(column)
    # for i in len(column):
        # print(i)

Year
Industry_aggregation_NZSIOC
Industry_code_NZSIOC
Industry_name_NZSIOC
Units
Variable_code
Variable_name
Variable_category
Value
Industry_code_ANZSIC06

In [35]:
df['Value']

0        930995
1        821630
2         84354
3         25010
4        832964
          ...
50980        52
50981        40
50982        12
50983         5
50984        46
Name: Value, Length: 50985, dtype: object

In [39]:
# df['Value','Year']  # - error but 
df[['Value','Year']]

        Value  Year
0      930995  2023
1      821630  2023
2       84354  2023
3       25010  2023
4      832964  2023
...       ...   ...
50980      52  2013
50981      40  2013
50982      12  2013
50983       5  2013
50984      46  2013

[50985 rows x 2 columns]

In [40]:
df.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [44]:
df.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object